@import "./config";
@import "./aside";
@import "./main";

* {
    transition: all 500ms ease 0s;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: #7e7e7e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}