#container {
    padding: 1rem;
    display: flex;
    flex-direction: column;


    button {
        outline: none;
        cursor: pointer;
    }

    h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    table {
        td {
            padding: 0.2rem 1.5rem;
            color: #4c6bff;
            font-weight: 600;
        }

        .common-text {
            color: #000;
            font-weight: 400;
        }
    }
}

#change-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;

    h2 {

        font-size: 1.3rem;
    }

    section {
        width: 100%;
    }

    input {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid rgb(138, 138, 138);
    }

    button {
        align-self: center;
        margin-top: 0.5rem;
        border-radius: 20px;
        border: none;
        padding: 0.7rem 1.5rem;
        background-color: #4c6bff;
        color: #fff;
    }
}

@media (min-width: 768px) {
    #container {
        flex-direction: row;
    }

    #change-user-info,
    #user-info_ {
        box-shadow: 2px 2px 5px #10227a31;
        padding: 2rem 1rem;
        border-radius: 15px;
    }

    #change-user-info {
        width: 60%;
        margin-left: 1rem;
        margin-top: 0;
    }

    #user-info_ {
        width: 40%;
    }

}