#container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        outline: none;
        cursor: pointer;
    }

    h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    table {
        td {
            padding: 0.2rem 1.5rem;
            color: #4c6bff;
            font-weight: 600;
        }

        .common-text {
            color: #000;
            font-weight: 400;
        }
    }
}

#change-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;

    h2 {

        font-size: 1.3rem;
    }

    section {
        width: 100%;
    }

    input {
        width: 100%;
        padding: 0.5rem 1rem;
        margin: 0.5rem 0;
        box-sizing: border-box;
        border-radius: 5px;
        border: 1px solid rgb(138, 138, 138);
    }

    button {
        align-self: center;
        margin-top: 0.5rem;
        border-radius: 20px;
        border: none;
        padding: 0.7rem 1.5rem;
        background-color: #4c6bff;
        color: #fff;
    }
}

@media (min-width: 768px) {

    #change-user-info,
    #user-info_ {
        width: 400px;
        box-shadow: 2px 2px 5px #494d6131;
        padding: 2rem 1rem;
        border-radius: 15px;
    }
}